###### Requirements without Version Specifiers ######
dash
dash-bio
pandas
numpy
scipy
dash-bootstrap-components
matplotlib
openTSNE
seaborn
scikit-learn
statsmodels
dash-bootstrap-templates
openpyxl
